.container-favorite{
  width: 100%;
  padding: 48px 0;
  height: 608px;
}

.text-favorite{
  font-family: Creepster;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;

  margin-bottom: 48px;

  color: #00B5CC;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #B2DF28;

  box-shadow: 0px 3px 6px 0px #0000001F;
  box-shadow: 0px 3px 6px 0px #00000014;
}

.example-content{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 224px);
  gap: 24px;

  .example-card{
    background-color: #0A0A0A;
    border: 1px solid #3D3D3D;
    width: 224px;
    .favorited{
      position: absolute;
      width: 48px;
      height: 48px;
      right: 0;
    }
    .card-header{
      padding: 12px;

      .header-title{
        font-family: Creepster;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        
        width: 200px;
        margin-bottom: 5px;

        .overflow-ellipsis {
          text-overflow: ellipsis;
        }
      
        p{
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
        
          color: #FAFAFA;
        }
      
      }

      .header-subtitle{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
      
        color: #A4A4A4;
      }
    }
  }
}

.not-content{
  width: 720px;
  height: 511px;

  margin-top: 24px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid #3D3D3D;
  border-radius: 12px;
  background-color: #0A0A0A;

  .not-container{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;

    gap: 16px;

    .not-content-title{
      color: #FAFAFA;
      margin-bottom: 16px;
    }
    .not-content-subtitle{
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: #A4A4A4;
    }
  }
  
}
@media only screen and (max-width: 740px) {
  .example-content{
    display: grid !important;
    grid-gap: 10px !important;
    grid-template-columns: repeat(2, 224px) !important;
    justify-content: center;
  }
}
@media only screen and (max-width: 468px) {
  .example-content{
    display: grid !important;
    grid-gap: 10px !important;
    grid-template-columns: repeat(1, 224px) !important;
    justify-content: center;
  }
}

