<div class="filter-inicio">
  <span class="text-inicio">Início</span>
  <span class="example-spacer"></span>
  <div class="input-filter">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label class="mat-label-text">Pesquisar</mat-label>
      <input matInput placeholder="Pesquisar" (keyup)="onSearchInput($event)">
    </mat-form-field>
  </div>
</div>
<ng-container [ngSwitch]="data.length ? 1 : 2">
  <ng-container *ngSwitchCase="1">
    <div class="example-content">
      <mat-card class="example-card" *ngFor="let item of data">
        <img mat-card-image [src]="item.image" alt="item.name">
        <favorited class="favorited" [item]="item"></favorited>
        <mat-card-header class="card-header">
          <mat-card-title class="header-title">
            <p class="overflow-ellipsis">
              {{item.name}}
            </p>
          </mat-card-title>
          <mat-card-subtitle class="header-subtitle">
            <div>{{item.species}}</div>
            <div>{{item.type}}</div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <div class="not-content">
      <div class="not-container">
        <div class="not-content-title">
          Nada foi encontrado
        </div>
        <div class="not-content-subtitle">
          Tente realizar uma nova busca.
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
